body{
margin: 60px;
background:#000033;
}
h1{
font-size:x-large;
color:white;
}
h2{
text-align:center;
font-size:15pt;
color:Silver;
background:ForestGreen;
}
#waku{
padding:0;
margin-right:85%;
border-radius:15px;
}
p{
font-size:meidum;
color:white;
}
div{
color:white;
}
h2 a{
display:block;
text-decoration:none;
}
a:link{
color:silver;
}
a:visited{
color:silver;
}
a:hover{
color:white;
}
a:active{
color:silver;
}
